<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <style>
        .button{
            text-align: right;
            font-size: x-large;
        }
        .searchbox{
            text-align: center;
            font-size:x-large;
        }
    </style>
    <body>
        <h1>Welcome</h1>
        <form action="/logout">
            <button>Log out</button>
        </form>
        <form action = "/login/books" method="POST">
        </div class="searchbox">
        <input type="name" required name="name" class="form-control" id="mail">
      </div>
      <div class="button">
        <button class="fa fa-search"></button>
      </div>
      

        {% if status == "searched" %}
         <p>you have searched for {{tag}}</p>
         <ol>
             <!-- {{msg}} -->
            {% for i in msg %}
            <li> <a href="/login/books/{{i.isbn}}">{{i.isbn}}</a>{{i.title}} {{ i.year}}{{ i.author}} {{i.isbn}}</li>
                <!-- <input type="name" required name=i.title class="form-control" id="mail"> -->
            {% endfor %}

         </ol>
        {% endif %}
    </form>
    </body>
</html>
